{% extends 'base.html.twig' %}

{% block title %}TblPerdida{% endblock %}

{% block body %}
    <h1>TblPerdida</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdPerdida</th>
                <td>{{ tbl_perdida.idPerdida }}</td>
            </tr>
            <tr>
                <th>Codigo</th>
                <td>{{ tbl_perdida.codigo }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ tbl_perdida.fecha ? tbl_perdida.fecha|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Cantidad</th>
                <td>{{ tbl_perdida.cantidad }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ tbl_perdida.descripcion }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ tbl_perdida.estado }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('tbl_perdida_index') }}">back to list</a>

    <a href="{{ path('tbl_perdida_edit', {'idPerdida': tbl_perdida.idPerdida}) }}">edit</a>

    {{ include('tbl_perdida/_delete_form.html.twig') }}
{% endblock %}
