{% extends 'base.html.twig' %}

{% block title %}TblNotaCredito{% endblock %}

{% block body %}
    <h1>TblNotaCredito</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdNotaCredito</th>
                <td>{{ tbl_nota_credito.idNotaCredito }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ tbl_nota_credito.fecha ? tbl_nota_credito.fecha|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Motivo</th>
                <td>{{ tbl_nota_credito.motivo }}</td>
            </tr>
            <tr>
                <th>NumSerie</th>
                <td>{{ tbl_nota_credito.numSerie }}</td>
            </tr>
            <tr>
                <th>Numeracion</th>
                <td>{{ tbl_nota_credito.numeracion }}</td>
            </tr>
            <tr>
                <th>Subtotal</th>
                <td>{{ tbl_nota_credito.subtotal }}</td>
            </tr>
            <tr>
                <th>Igv</th>
                <td>{{ tbl_nota_credito.igv }}</td>
            </tr>
            <tr>
                <th>Total</th>
                <td>{{ tbl_nota_credito.total }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ tbl_nota_credito.estado }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('tbl_nota_credito_index') }}">back to list</a>

    <a href="{{ path('tbl_nota_credito_edit', {'idNotaCredito': tbl_nota_credito.idNotaCredito}) }}">edit</a>

    {{ include('tbl_nota_credito/_delete_form.html.twig') }}
{% endblock %}
