{% extends 'base.html.twig' %}

{% block title %}TblPedido index{% endblock %}

{% block body %}
    <h1>TblPedido index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdPedido</th>
                <th>Codigo</th>
                <th>FechaPedido</th>
                <th>HoraPedido</th>
                <th>FechaEntrega</th>
                <th>FechaAtencion</th>
                <th>Subtotal</th>
                <th>Cantidad</th>
                <th>Finalizado</th>
                <th>Estado</th>
                <th>EstadoComprobante</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tbl_pedido in tbl_pedidos %}
            <tr>
                <td>{{ tbl_pedido.idPedido }}</td>
                <td>{{ tbl_pedido.codigo }}</td>
                <td>{{ tbl_pedido.fechaPedido ? tbl_pedido.fechaPedido|date('Y-m-d') : '' }}</td>
                <td>{{ tbl_pedido.horaPedido ? tbl_pedido.horaPedido|date('H:i:s') : '' }}</td>
                <td>{{ tbl_pedido.fechaEntrega ? tbl_pedido.fechaEntrega|date('Y-m-d') : '' }}</td>
                <td>{{ tbl_pedido.fechaAtencion ? tbl_pedido.fechaAtencion|date('Y-m-d') : '' }}</td>
                <td>{{ tbl_pedido.subtotal }}</td>
                <td>{{ tbl_pedido.cantidad }}</td>
                <td>{{ tbl_pedido.finalizado }}</td>
                <td>{{ tbl_pedido.estado }}</td>
                <td>{{ tbl_pedido.estadoComprobante }}</td>
                <td>
                    <a href="{{ path('tbl_pedido_show', {'idPedido': tbl_pedido.idPedido}) }}">show</a>
                    <a href="{{ path('tbl_pedido_edit', {'idPedido': tbl_pedido.idPedido}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tbl_pedido_new') }}">Create new</a>
{% endblock %}
