{% extends 'base.html.twig' %}

{% block title %}TblPedido{% endblock %}

{% block body %}
    <h1>TblPedido</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdPedido</th>
                <td>{{ tbl_pedido.idPedido }}</td>
            </tr>
            <tr>
                <th>Codigo</th>
                <td>{{ tbl_pedido.codigo }}</td>
            </tr>
            <tr>
                <th>FechaPedido</th>
                <td>{{ tbl_pedido.fechaPedido ? tbl_pedido.fechaPedido|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>HoraPedido</th>
                <td>{{ tbl_pedido.horaPedido ? tbl_pedido.horaPedido|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>FechaEntrega</th>
                <td>{{ tbl_pedido.fechaEntrega ? tbl_pedido.fechaEntrega|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>FechaAtencion</th>
                <td>{{ tbl_pedido.fechaAtencion ? tbl_pedido.fechaAtencion|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Subtotal</th>
                <td>{{ tbl_pedido.subtotal }}</td>
            </tr>
            <tr>
                <th>Cantidad</th>
                <td>{{ tbl_pedido.cantidad }}</td>
            </tr>
            <tr>
                <th>Finalizado</th>
                <td>{{ tbl_pedido.finalizado }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ tbl_pedido.estado }}</td>
            </tr>
            <tr>
                <th>EstadoComprobante</th>
                <td>{{ tbl_pedido.estadoComprobante }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('tbl_pedido_index') }}">back to list</a>

    <a href="{{ path('tbl_pedido_edit', {'idPedido': tbl_pedido.idPedido}) }}">edit</a>

    {{ include('tbl_pedido/_delete_form.html.twig') }}
{% endblock %}
