{% extends 'base.html.twig' %}

{% block title %}TblDetallePedido index{% endblock %}

{% block body %}
    <h1>TblDetallePedido index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdDetallePedido</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Estado</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tbl_detalle_pedido in tbl_detalle_pedidos %}
            <tr>
                <td>{{ tbl_detalle_pedido.idDetallePedido }}</td>
                <td>{{ tbl_detalle_pedido.cantidad }}</td>
                <td>{{ tbl_detalle_pedido.precio }}</td>
                <td>{{ tbl_detalle_pedido.estado }}</td>
                <td>
                    <a href="{{ path('tbl_detalle_pedido_show', {'idDetallePedido': tbl_detalle_pedido.idDetallePedido}) }}">show</a>
                    <a href="{{ path('tbl_detalle_pedido_edit', {'idDetallePedido': tbl_detalle_pedido.idDetallePedido}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tbl_detalle_pedido_new') }}">Create new</a>
{% endblock %}
