{% extends 'base.html.twig' %}

{% block title %}TblDetalleComprobanteVenta index{% endblock %}

{% block body %}
    <h1>TblDetalleComprobanteVenta index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdDetalleComprobanteVenta</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Estado</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tbl_detalle_comprobante_ventum in tbl_detalle_comprobante_ventas %}
            <tr>
                <td>{{ tbl_detalle_comprobante_ventum.idDetalleComprobanteVenta }}</td>
                <td>{{ tbl_detalle_comprobante_ventum.cantidad }}</td>
                <td>{{ tbl_detalle_comprobante_ventum.precio }}</td>
                <td>{{ tbl_detalle_comprobante_ventum.estado }}</td>
                <td>
                    <a href="{{ path('tbl_detalle_comprobante_venta_show', {'idDetalleComprobanteVenta': tbl_detalle_comprobante_ventum.idDetalleComprobanteVenta}) }}">show</a>
                    <a href="{{ path('tbl_detalle_comprobante_venta_edit', {'idDetalleComprobanteVenta': tbl_detalle_comprobante_ventum.idDetalleComprobanteVenta}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tbl_detalle_comprobante_venta_new') }}">Create new</a>
{% endblock %}
