{% extends 'base.html.twig' %}

{% block title %}TblDetalleComprobanteVenta{% endblock %}

{% block body %}
    <h1>TblDetalleComprobanteVenta</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdDetalleComprobanteVenta</th>
                <td>{{ tbl_detalle_comprobante_ventum.idDetalleComprobanteVenta }}</td>
            </tr>
            <tr>
                <th>Cantidad</th>
                <td>{{ tbl_detalle_comprobante_ventum.cantidad }}</td>
            </tr>
            <tr>
                <th>Precio</th>
                <td>{{ tbl_detalle_comprobante_ventum.precio }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ tbl_detalle_comprobante_ventum.estado }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('tbl_detalle_comprobante_venta_index') }}">back to list</a>

    <a href="{{ path('tbl_detalle_comprobante_venta_edit', {'idDetalleComprobanteVenta': tbl_detalle_comprobante_ventum.idDetalleComprobanteVenta}) }}">edit</a>

    {{ include('tbl_detalle_comprobante_venta/_delete_form.html.twig') }}
{% endblock %}
