{% extends 'base.html.twig' %}

{% block title %}TblUsuario index{% endblock %}

{% block body %}
    <h1>TblUsuario index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdUsuario</th>
                <th>Codigo</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Usuario</th>
                <th>Password</th>
                <th>Correo</th>
                <th>Foto</th>
                <th>Estado</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tbl_usuario in tbl_usuarios %}
            <tr>
                <td>{{ tbl_usuario.idUsuario }}</td>
                <td>{{ tbl_usuario.codigo }}</td>
                <td>{{ tbl_usuario.nombres }}</td>
                <td>{{ tbl_usuario.apellidos }}</td>
                <td>{{ tbl_usuario.usuario }}</td>
                <td>{{ tbl_usuario.password }}</td>
                <td>{{ tbl_usuario.correo }}</td>
                <td>{{ tbl_usuario.foto }}</td>
                <td>{{ tbl_usuario.estado }}</td>
                <td>
                    <a href="{{ path('tbl_usuario_show', {'idUsuario': tbl_usuario.idUsuario}) }}">show</a>
                    <a href="{{ path('tbl_usuario_edit', {'idUsuario': tbl_usuario.idUsuario}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tbl_usuario_new') }}">Create new</a>
{% endblock %}
