{% extends 'base.html.twig' %}

{% block title %}TblDetalleNotaCredito index{% endblock %}

{% block body %}
    <h1>TblDetalleNotaCredito index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdDetalleNota</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Estado</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tbl_detalle_nota_credito in tbl_detalle_nota_creditos %}
            <tr>
                <td>{{ tbl_detalle_nota_credito.idDetalleNota }}</td>
                <td>{{ tbl_detalle_nota_credito.cantidad }}</td>
                <td>{{ tbl_detalle_nota_credito.precio }}</td>
                <td>{{ tbl_detalle_nota_credito.estado }}</td>
                <td>
                    <a href="{{ path('tbl_detalle_nota_credito_show', {'idDetalleNota': tbl_detalle_nota_credito.idDetalleNota}) }}">show</a>
                    <a href="{{ path('tbl_detalle_nota_credito_edit', {'idDetalleNota': tbl_detalle_nota_credito.idDetalleNota}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tbl_detalle_nota_credito_new') }}">Create new</a>
{% endblock %}
