{% extends 'base.html.twig' %}

{% block title %}TblProducto{% endblock %}

{% block body %}
    <h1>TblProducto</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdProducto</th>
                <td>{{ tbl_producto.idProducto }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ tbl_producto.nombre }}</td>
            </tr>
            <tr>
                <th>Codigo</th>
                <td>{{ tbl_producto.codigo }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ tbl_producto.descripcion }}</td>
            </tr>
            <tr>
                <th>Imagen</th>
                <td>{{ tbl_producto.imagen }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ tbl_producto.estado }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('tbl_producto_index') }}">back to list</a>

    <a href="{{ path('tbl_producto_edit', {'idProducto': tbl_producto.idProducto}) }}">edit</a>

    {{ include('tbl_producto/_delete_form.html.twig') }}
{% endblock %}
