{% extends 'base.html.twig' %}

{% block title %}TblUnidadMedida index{% endblock %}

{% block body %}
    <h1>TblUnidadMedida index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdUnidad</th>
                <th>Nombre</th>
                <th>Estado</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tbl_unidad_medida in tbl_unidad_medidas %}
            <tr>
                <td>{{ tbl_unidad_medida.idUnidad }}</td>
                <td>{{ tbl_unidad_medida.nombre }}</td>
                <td>{{ tbl_unidad_medida.estado }}</td>
                <td>
                    <a href="{{ path('tbl_unidad_medida_show', {'idUnidad': tbl_unidad_medida.idUnidad}) }}">show</a>
                    <a href="{{ path('tbl_unidad_medida_edit', {'idUnidad': tbl_unidad_medida.idUnidad}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tbl_unidad_medida_new') }}">Create new</a>
{% endblock %}
