{% extends 'base.html.twig' %}

{% block title %}TblComprobanteCompra index{% endblock %}

{% block body %}
    <h1>TblComprobanteCompra index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdComprobante</th>
                <th>Serie</th>
                <th>Numeracion</th>
                <th>Subtotal</th>
                <th>Igv</th>
                <th>Total</th>
                <th>Cantidad</th>
                <th>Fecha</th>
                <th>Estado</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tbl_comprobante_compra in tbl_comprobante_compras %}
            <tr>
                <td>{{ tbl_comprobante_compra.idComprobante }}</td>
                <td>{{ tbl_comprobante_compra.serie }}</td>
                <td>{{ tbl_comprobante_compra.numeracion }}</td>
                <td>{{ tbl_comprobante_compra.subtotal }}</td>
                <td>{{ tbl_comprobante_compra.igv }}</td>
                <td>{{ tbl_comprobante_compra.total }}</td>
                <td>{{ tbl_comprobante_compra.cantidad }}</td>
                <td>{{ tbl_comprobante_compra.fecha ? tbl_comprobante_compra.fecha|date('Y-m-d') : '' }}</td>
                <td>{{ tbl_comprobante_compra.estado }}</td>
                <td>
                    <a href="{{ path('tbl_comprobante_compra_show', {'idComprobante': tbl_comprobante_compra.idComprobante}) }}">show</a>
                    <a href="{{ path('tbl_comprobante_compra_edit', {'idComprobante': tbl_comprobante_compra.idComprobante}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tbl_comprobante_compra_new') }}">Create new</a>
{% endblock %}
