{% extends 'base.html.twig' %}

{% block title %}TblOrdenCompra index{% endblock %}

{% block body %}
    <h1>TblOrdenCompra index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdOrdenCompra</th>
                <th>Codigo</th>
                <th>Fecha</th>
                <th>Total</th>
                <th>Cantidad</th>
                <th>Estado</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tbl_orden_compra in tbl_orden_compras %}
            <tr>
                <td>{{ tbl_orden_compra.idOrdenCompra }}</td>
                <td>{{ tbl_orden_compra.codigo }}</td>
                <td>{{ tbl_orden_compra.fecha ? tbl_orden_compra.fecha|date('Y-m-d') : '' }}</td>
                <td>{{ tbl_orden_compra.total }}</td>
                <td>{{ tbl_orden_compra.cantidad }}</td>
                <td>{{ tbl_orden_compra.estado }}</td>
                <td>
                    <a href="{{ path('tbl_orden_compra_show', {'idOrdenCompra': tbl_orden_compra.idOrdenCompra}) }}">show</a>
                    <a href="{{ path('tbl_orden_compra_edit', {'idOrdenCompra': tbl_orden_compra.idOrdenCompra}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tbl_orden_compra_new') }}">Create new</a>
{% endblock %}
