{% extends 'base.html.twig' %}

{% block title %}TblTalla index{% endblock %}

{% block body %}
    <h1>TblTalla index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdTalla</th>
                <th>NombreTalla</th>
                <th>Estado</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tbl_talla in tbl_tallas %}
            <tr>
                <td>{{ tbl_talla.idTalla }}</td>
                <td>{{ tbl_talla.nombreTalla }}</td>
                <td>{{ tbl_talla.estado }}</td>
                <td>
                    <a href="{{ path('tbl_talla_show', {'idTalla': tbl_talla.idTalla}) }}">show</a>
                    <a href="{{ path('tbl_talla_edit', {'idTalla': tbl_talla.idTalla}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tbl_talla_new') }}">Create new</a>
{% endblock %}
