{% extends 'base.html.twig' %}

{% block title %}TblProductoDetalle index{% endblock %}

{% block body %}
    <h1>TblProductoDetalle index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdProductoDetalle</th>
                <th>StockInicial</th>
                <th>StockMinimo</th>
                <th>Precio</th>
                <th>Estado</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tbl_producto_detalle in tbl_producto_detalles %}
            <tr>
                <td>{{ tbl_producto_detalle.idProductoDetalle }}</td>
                <td>{{ tbl_producto_detalle.stockInicial }}</td>
                <td>{{ tbl_producto_detalle.stockMinimo }}</td>
                <td>{{ tbl_producto_detalle.precio }}</td>
                <td>{{ tbl_producto_detalle.estado }}</td>
                <td>
                    <a href="{{ path('tbl_producto_detalle_show', {'idProductoDetalle': tbl_producto_detalle.idProductoDetalle}) }}">show</a>
                    <a href="{{ path('tbl_producto_detalle_edit', {'idProductoDetalle': tbl_producto_detalle.idProductoDetalle}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tbl_producto_detalle_new') }}">Create new</a>
{% endblock %}
