{% extends 'base.html.twig' %}

{% block title %}TblAtendido index{% endblock %}

{% block body %}
    <h1>TblAtendido index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdAtendido</th>
                <th>Fecha</th>
                <th>Estado</th>
                <th>EstadoGuia</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tbl_atendido in tbl_atendidos %}
            <tr>
                <td>{{ tbl_atendido.idAtendido }}</td>
                <td>{{ tbl_atendido.fecha ? tbl_atendido.fecha|date('Y-m-d') : '' }}</td>
                <td>{{ tbl_atendido.estado }}</td>
                <td>{{ tbl_atendido.estadoGuia }}</td>
                <td>
                    <a href="{{ path('tbl_atendido_show', {'idAtendido': tbl_atendido.idAtendido}) }}">show</a>
                    <a href="{{ path('tbl_atendido_edit', {'idAtendido': tbl_atendido.idAtendido}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tbl_atendido_new') }}">Create new</a>
{% endblock %}
