{% extends 'base.html.twig' %}

{% block title %}TblAtendido{% endblock %}

{% block body %}
    <h1>TblAtendido</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdAtendido</th>
                <td>{{ tbl_atendido.idAtendido }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ tbl_atendido.fecha ? tbl_atendido.fecha|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ tbl_atendido.estado }}</td>
            </tr>
            <tr>
                <th>EstadoGuia</th>
                <td>{{ tbl_atendido.estadoGuia }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('tbl_atendido_index') }}">back to list</a>

    <a href="{{ path('tbl_atendido_edit', {'idAtendido': tbl_atendido.idAtendido}) }}">edit</a>

    {{ include('tbl_atendido/_delete_form.html.twig') }}
{% endblock %}
