{% extends 'base.html.twig' %}

{% block title %}TblNumeracion{% endblock %}

{% block body %}
    <h1>TblNumeracion</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdNumeracion</th>
                <td>{{ tbl_numeracion.idNumeracion }}</td>
            </tr>
            <tr>
                <th>Serie</th>
                <td>{{ tbl_numeracion.serie }}</td>
            </tr>
            <tr>
                <th>Inicio</th>
                <td>{{ tbl_numeracion.inicio }}</td>
            </tr>
            <tr>
                <th>Fin</th>
                <td>{{ tbl_numeracion.fin }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ tbl_numeracion.estado }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('tbl_numeracion_index') }}">back to list</a>

    <a href="{{ path('tbl_numeracion_edit', {'idNumeracion': tbl_numeracion.idNumeracion}) }}">edit</a>

    {{ include('tbl_numeracion/_delete_form.html.twig') }}
{% endblock %}
