{% extends 'base.html.twig' %}

{% block title %}TblDetalleOrdenCompra index{% endblock %}

{% block body %}
    <h1>TblDetalleOrdenCompra index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdDetalle</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Estado</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tbl_detalle_orden_compra in tbl_detalle_orden_compras %}
            <tr>
                <td>{{ tbl_detalle_orden_compra.idDetalle }}</td>
                <td>{{ tbl_detalle_orden_compra.precio }}</td>
                <td>{{ tbl_detalle_orden_compra.cantidad }}</td>
                <td>{{ tbl_detalle_orden_compra.estado }}</td>
                <td>
                    <a href="{{ path('tbl_detalle_orden_compra_show', {'idDetalle': tbl_detalle_orden_compra.idDetalle}) }}">show</a>
                    <a href="{{ path('tbl_detalle_orden_compra_edit', {'idDetalle': tbl_detalle_orden_compra.idDetalle}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tbl_detalle_orden_compra_new') }}">Create new</a>
{% endblock %}
