{% extends 'base.html.twig' %}

{% block title %}TblComprobanteVenta index{% endblock %}

{% block body %}
    <h1>TblComprobanteVenta index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdComprobanteVenta</th>
                <th>TipoVenta</th>
                <th>Fecha</th>
                <th>Serie</th>
                <th>Numeracion</th>
                <th>Subtotal</th>
                <th>Dsct</th>
                <th>Igv</th>
                <th>Total</th>
                <th>Cantidad</th>
                <th>Estado</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tbl_comprobante_ventum in tbl_comprobante_ventas %}
            <tr>
                <td>{{ tbl_comprobante_ventum.idComprobanteVenta }}</td>
                <td>{{ tbl_comprobante_ventum.tipoVenta }}</td>
                <td>{{ tbl_comprobante_ventum.fecha ? tbl_comprobante_ventum.fecha|date('Y-m-d') : '' }}</td>
                <td>{{ tbl_comprobante_ventum.serie }}</td>
                <td>{{ tbl_comprobante_ventum.numeracion }}</td>
                <td>{{ tbl_comprobante_ventum.subtotal }}</td>
                <td>{{ tbl_comprobante_ventum.dsct }}</td>
                <td>{{ tbl_comprobante_ventum.igv }}</td>
                <td>{{ tbl_comprobante_ventum.total }}</td>
                <td>{{ tbl_comprobante_ventum.cantidad }}</td>
                <td>{{ tbl_comprobante_ventum.estado }}</td>
                <td>
                    <a href="{{ path('tbl_comprobante_venta_show', {'idComprobanteVenta': tbl_comprobante_ventum.idComprobanteVenta}) }}">show</a>
                    <a href="{{ path('tbl_comprobante_venta_edit', {'idComprobanteVenta': tbl_comprobante_ventum.idComprobanteVenta}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tbl_comprobante_venta_new') }}">Create new</a>
{% endblock %}
