{% extends 'base.html.twig' %}

{% block title %}TblLote{% endblock %}

{% block body %}
    <h1>TblLote</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdLote</th>
                <td>{{ tbl_lote.idLote }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ tbl_lote.nombre }}</td>
            </tr>
            <tr>
                <th>FechaVencimiento</th>
                <td>{{ tbl_lote.fechaVencimiento ? tbl_lote.fechaVencimiento|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ tbl_lote.estado }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('tbl_lote_index') }}">back to list</a>

    <a href="{{ path('tbl_lote_edit', {'idLote': tbl_lote.idLote}) }}">edit</a>

    {{ include('tbl_lote/_delete_form.html.twig') }}
{% endblock %}
