{% extends 'base.html.twig' %}

{% block title %}TblCargo index{% endblock %}

{% block body %}
    <h1>TblCargo index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdCargo</th>
                <th>Nombre</th>
                <th>Estado</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tbl_cargo in tbl_cargos %}
            <tr>
                <td>{{ tbl_cargo.idCargo }}</td>
                <td>{{ tbl_cargo.nombre }}</td>
                <td>{{ tbl_cargo.estado }}</td>
                <td>
                    <a href="{{ path('tbl_cargo_show', {'idCargo': tbl_cargo.idCargo}) }}">show</a>
                    <a href="{{ path('tbl_cargo_edit', {'idCargo': tbl_cargo.idCargo}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tbl_cargo_new') }}">Create new</a>
{% endblock %}
