{% extends 'base.html.twig' %}

{% block title %}TblCargo{% endblock %}

{% block body %}
    <h1>TblCargo</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdCargo</th>
                <td>{{ tbl_cargo.idCargo }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ tbl_cargo.nombre }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ tbl_cargo.estado }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('tbl_cargo_index') }}">back to list</a>

    <a href="{{ path('tbl_cargo_edit', {'idCargo': tbl_cargo.idCargo}) }}">edit</a>

    {{ include('tbl_cargo/_delete_form.html.twig') }}
{% endblock %}
