{% extends 'base.html.twig' %}

{% block title %}TblTipoEmpresa index{% endblock %}

{% block body %}
    <h1>TblTipoEmpresa index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdTipo</th>
                <th>Nombre</th>
                <th>Estado</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tbl_tipo_empresa in tbl_tipo_empresas %}
            <tr>
                <td>{{ tbl_tipo_empresa.idTipo }}</td>
                <td>{{ tbl_tipo_empresa.nombre }}</td>
                <td>{{ tbl_tipo_empresa.estado }}</td>
                <td>
                    <a href="{{ path('tbl_tipo_empresa_show', {'idTipo': tbl_tipo_empresa.idTipo}) }}">show</a>
                    <a href="{{ path('tbl_tipo_empresa_edit', {'idTipo': tbl_tipo_empresa.idTipo}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tbl_tipo_empresa_new') }}">Create new</a>
{% endblock %}
