{% extends 'base.html.twig' %}

{% block title %}TblTipoEmpresa{% endblock %}

{% block body %}
    <h1>TblTipoEmpresa</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdTipo</th>
                <td>{{ tbl_tipo_empresa.idTipo }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ tbl_tipo_empresa.nombre }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ tbl_tipo_empresa.estado }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('tbl_tipo_empresa_index') }}">back to list</a>

    <a href="{{ path('tbl_tipo_empresa_edit', {'idTipo': tbl_tipo_empresa.idTipo}) }}">edit</a>

    {{ include('tbl_tipo_empresa/_delete_form.html.twig') }}
{% endblock %}
